[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-asyncio = "*"
rust-dlx-lib = {file = "../rust_dlx_lib/target/wheels/rust_dlx_lib-0.1.0-cp314-cp314-macosx_11_0_arm64.whl"}
[dev-packages]
ipython = "*"

[requires]
python_version = "3.14"
